In [57]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Requirement already satisfied: pandas in /Users/arcanjomiguel/opt/anaconda3/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/arcanjomiguel/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/arcanjomiguel/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/arcanjomiguel/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /Users/arcanjomiguel/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [58]:
music=pd.read_excel('musica.xlsx')

In [59]:
music

    Idade  Genero      Musica
0      20       1      HipHop
1      23       1      HipHop
2      25       1      HipHop
3      26       1        Jazz
4      29       1        Jazz
5      30       1        Jazz
6      31       1    Classica
7      33       1    Classica
8      27       1    Classica
9      20       0  Marrabenta
10     21       0  Marrabenta
11     25       0  Marrabenta
12     26       0   Aucustica
13     27       0   Aucustica
14     30       0   Aucustica
15     31       0    Classica
16     34       0    Classica
17     35       0    Classica

In [74]:
#criar um suconjunto de dados (entrada e saida) para isso utilizo o drop

x=music.drop(columns=["Musica"])
y=music["Musica"]

#crir tabelas de teste e treino
x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size=0.9)

In [75]:
x

    Idade  Genero
0      20       1
1      23       1
2      25       1
3      26       1
4      29       1
5      30       1
6      31       1
7      33       1
8      27       1
9      20       0
10     21       0
11     25       0
12     26       0
13     27       0
14     30       0
15     31       0
16     34       0
17     35       0

In [76]:
y

0         HipHop
1         HipHop
2         HipHop
3           Jazz
4           Jazz
5           Jazz
6       Classica
7       Classica
8       Classica
9     Marrabenta
10    Marrabenta
11    Marrabenta
12     Aucustica
13     Aucustica
14     Aucustica
15      Classica
16      Classica
17      Classica
Name: Musica, dtype: object

In [77]:
# Criar o modelo 
modelo = DecisionTreeClassifier()
modelo.fit(x_treino,y_treino)

DecisionTreeClassifier()

In [78]:
# fazer previsão
#Sabendo que 1 é para masculino e 0 para o femenino 
previsao=modelo.predict(x_teste)

#previsao do modelo treinado

In [79]:
previsao

array(['Jazz', 'Jazz', 'Jazz', 'Jazz', 'Jazz', 'Jazz', 'Jazz', 'Jazz',
       'Jazz', 'Jazz', 'Jazz', 'Jazz', 'Jazz', 'Jazz', 'Jazz', 'Jazz',
       'Jazz'], dtype=object)

In [80]:
#medir e melhorar 

Medir=accuracy_score(y_teste, previsao)
Medir

0.11764705882352941